blender/
mvadapter/test/output*/
mvadapter/test/output_project
mvadapter/test/town_frames/
mvadapter/test/renders
mvadapter/test/frames
mvadapter/test/photo
mvadapter/test/*.mp4
mvadapter/test/*.blend
mvadapter/test/*.glb
mvadapter/test/*.tar.gz
mvadapter/test/__pycache__/
mvadapter/test/camera_path.json
mvadapter/test/next_camera_path.json
*/**/__pycache__/
mvadapter/utils/mesh_utils/__pycache__/